.RadioGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.RadioOption {
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    margin-bottom: 10px;
    cursor: pointer;
}

label{
    cursor: pointer;
}

